projects/*/ghidra_proj/
projects/*/out/
projects/*/bin/
projects/*/decomp.c
**/.DS_Store
**/__pycache__/
*.pyc
.idea/
projects/*/recreate/.venv/
projects/*/recreate/build/
projects/*/recreate/render/atari/build/
projects/*/recreate/render/atari/disk/
projects/*/recreate/render/atari/disk_orig/
*.so
*.o
projects/*/recreate/oracle/musashi/
projects/*/recreate/oracle/build/

# TOS ROM images — not redistributable (Atari copyright); supply your own locally
tools/hatari/*.img
**/TOS*.img
