projects/*/ghidra_proj/
projects/*/out/
**/.DS_Store
**/__pycache__/
*.pyc
projects/*/recreate/.venv/
projects/*/recreate/build/
projects/*/recreate/render/atari/build/
projects/*/recreate/render/atari/disk/
*.so
*.o
projects/*/recreate/oracle/musashi/
projects/*/recreate/oracle/build/
